<div class="heroSelectionPage">
  <div class="searchContainer">
    <form [formGroup]="formHero" (ngSubmit)="submit()">
      <app-alphabet (onChange)="handleChange($event)" (onClickButton)="handleClickButton($event)"></app-alphabet>
      <input
        class ="searchInput"
        type="text"
        placeholder="Search heroes"
        formControlName="searchInput"
        [class.invalid]="searchInputControl.touched && searchInputControl.dirty && searchInputControl.invalid"
        [value]="inputValue"
      >

      <div *ngIf="formHero.invalid && searchInputControl.dirty && searchInputControl.touched">
        <small *ngIf="searchInputControl.errors?.invalidInputValue" class="errors">Enter only letters without wrapping spaces</small>
        <small *ngIf="searchInputControl.errors?.required" class="errors">Empty search value</small>
      </div>

      <button class="btn-search" type="submit" [disabled]="formHero.invalid"><i class="fa-solid fa-magnifying-glass search"></i></button>
    </form>
  </div>

  <div class="recentSearches">
    <div *ngFor="let recentSearch of recentSearches" class="recentSearch" >
      {{ recentSearch }}
    </div>
  </div>

  <div *ngIf="results.length" class="heroesList">
    <p class="results">Results: {{ results.length }}</p>

    <app-hero-item
      *ngFor="let heroItem of results; trackBy: trackByFn"
      [heroItem] = "heroItem"
    >
    </app-hero-item>

  </div>

  <div [class.modal-overlay]="isToggled"></div>

</div>

