<div class="container">
  <table class="table">
    <thead class="thead">
      <tr>
        <th>
          Battle time
          <i class="fa-solid fa-arrow-down-up-across-line sort"></i>
        </th>
        <th>
          Hero name
          <i class="fa-solid fa-arrow-down-up-across-line sort"></i>
        </th>
        <th>
          Opponent name
          <i class="fa-solid fa-arrow-down-up-across-line sort"></i>
        </th>
        <th>
          Battle result
          <i class="fa-solid fa-arrow-down-up-across-line sort"></i>
        </th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr>
        <th>Battle time</th>
        <th>Hero name</th>
        <th>Opponent name</th>
        <th>Battle result</th>
      </tr>
    </tbody>
  </table>
</div>
