<div class="heroItem">
  <div class="heroAvatar">
    <img [src]="heroItem.image.url" [alt]="heroItem.name">
  </div>

  <div class="heroDescription">
    <h3>Name: {{ heroItem.name }}</h3>
    <div class="powestats">
      <p>Intelligence: {{ heroItem.powerstats.intelligence }}</p>
      <p>Strength: {{ heroItem.powerstats.strength }}</p>
      <p>Speed: {{ heroItem.powerstats.speed }}</p>
      <p>Durability:{{ heroItem.powerstats.durability }}</p>
      <p>Power: {{ heroItem.powerstats.power }}</p>
      <p>Combat: {{ heroItem.powerstats.combat }}</p>
    </div>
    <button class="btn" [disabled]="heroItem.isSelected" (click)="select()">Select</button>
    <button class="btn btn-back" [disabled]="!heroItem.isSelected" (click)="delete()">Remove</button>
    <button class="btn btn-view">View Hero</button>
  </div>

</div>
