.btn-alphabet {
  position: absolute;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  text-transform: uppercase;
  top: -11%;
  left: -9%;
  z-index: 999;
}

#lettersContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  top: 221%;
  left: 0.5%;
  z-index: 999;
}


