<form class="form" [formGroup]="formCreate" (ngSubmit)="submit()">
  <h2>Sign in</h2>

  <div class="input">
    <label>User name</label>
    <input
      type="text"
      placeholder="Enter your user name"
      formControlName="userName"
      [class.invalid]="userNameControl.invalid && userNameControl.touched"
    >

    <div *ngIf="formCreate.invalid && (userNameControl.dirty || userNameControl.touched)" class="errors">
      <small *ngIf="userNameControl.errors?.required">Empty user name</small>
      <small *ngIf="userNameControl.errors?.invalidUserName">Invalid user name</small>
    </div>
  </div>

  <div class="input">
    <label>Login</label>
    <input
      type="email"
      placeholder="Enter your email"
      formControlName="login"
      [class.invalid]="loginControl.invalid && loginControl.touched"
    >

    <div *ngIf="formCreate.invalid && (loginControl.dirty || loginControl.touched)" class="errors">
      <small *ngIf="loginControl.errors?.required">Empty email</small>
      <small *ngIf="loginControl.errors?.email">Invalid email</small>
      <small *ngIf="loginControl.errors?.notUniqueEmail">Not unique email</small>
    </div>

  </div>

  <div class="input">
    <label>Password</label>
    <input
      type="password"
      placeholder="Enter your password"
      formControlName="password"
      [class.invalid]="passwordControl.invalid && passwordControl.touched"
    >

    <div *ngIf="formCreate.invalid && (passwordControl.dirty || passwordControl.touched)" class="errors" >
      <small *ngIf="passwordControl.errors?.required">Empty password</small>
      <small *ngIf="passwordControl.errors?.invalidPassword">Invalid password</small>
      <small *ngIf="passwordControl.errors?.minlength">
        Required length - {{passwordControl.errors?.minlength.requiredLength}}.
        Now it's {{passwordControl.errors?.minlength.actualLength}}</small>
    </div>

  </div>

  <div class="btns">
    <button class="btn" type="submit" [disabled]="formCreate.invalid">Create</button>
    <button class="btn btn-back" type="button" routerLink="/login">Log in</button>
  </div>

</form>
